{% layout "layouts/base.html" %} {% block content %}
<main id="main-content" tabindex="-1">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:px-8">
    <h1 class="text-2xl font-bold leading-tight text-gray-900">
      {{ intro.title }}
    </h1>
  </div>
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:px-8">
    <div class="py-8 leading-8 text-gray-600">
      <p class="leading-6">{{ intro.desc }}</p>
    </div>
  </div>

  <div x-data="setup()" x-init="init">
    <div class="flex justify-center">
      <div class="mb-3 xl:w-96">
        <div
          class="input-group relative mb-4 flex w-full flex-wrap items-stretch"
        >
          <input
            type="search"
            class="form-control relative m-0 block w-full min-w-0 flex-auto rounded border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-1.5 text-base font-normal text-gray-700 transition ease-in-out focus:border-blue-600 focus:bg-white focus:text-gray-700 focus:outline-none"
            placeholder="Type to filter"
            aria-label="Search"
            x-model="search"
          />
        </div>
      </div>
    </div>
    <template x-for="rule in sortedRules()">
      <article x-bind:id="rule.id" class="mx-auto mb-16 max-w-2xl">
        <div class="px-4 sm:px-6 lg:px-8">
          <h1
            class="text-3xl font-bold leading-tight text-gray-900"
            x-text="rule.name"
          ></h1>
        </div>
        <div class="px-4 sm:px-6 lg:px-8">
          Source:
          <cite x-text="rule.source"></cite>, page
          <span x-text="rule.page"></span>
        </div>
        <div class="px-4 text-gray-500 sm:px-6 lg:px-8">
          <div
            class="prose prose-lg my-4 border-t py-8 leading-8 text-gray-600"
            x-html="rule.description"
          ></div>
          <div class="flex">
            <a x-bind:href="rule.link">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path d="M5 4a2 2 0 012-2h6a2 2 0 012 2v14l-5-2.5L5 18V4z" />
              </svg>
            </a>
            <span class="mx-4"
              >Rule version: <span x-text="rule.version"></span>.</span
            >
            <span>
              FAQ/Errata?
              <span x-text="rule.errata ? 'Yes' : 'No'"></span>
            </span>
          </div>
        </div>
      </article>
    </template>
  </div>
</main>
<script>
  function setup() {
    return {
      rules: [],
      loading: false,
      source: '/rules.json',
      search: null,
      sortedRules() {
        const sorted = this.rules.sort((first, second) => {
          return first.name < second.name
            ? -1
            : first.name > second.name
            ? 1
            : 0;
        });
        if (this.search) {
          console.log(`search: ${this.search}`);
          return sorted.filter((item) =>
            item.name.toLowerCase().startsWith(this.search.toLowerCase()),
          );
        }
        return sorted;
      },
      get(source) {
        this.loading = true;
        const request = fetch(source)
          .then((res) => res.json())
          .then((data) => {
            this.loading = false;
            this.rules = data;
          });
      },
      init() {
        this.get(this.source);
      },
    };
  }
</script>
{% endblock %}
