<header>
  <nav class="mx-auto max-w-2xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <figure class="flex flex-shrink-0 items-center space-x-1">
        <img
          alt="11st starter-kit logo"
          class="h-8 w-auto"
          src="/images/11st-logo.svg"
          height="32"
          width="32"
        />
        <figcaption class="text-2xl font-bold">
          Horus Heresy USR Lookup
        </figcaption>
      </figure>
      <ul class="flex space-x-4">
        {% for item in navigation.items %} {% if item.url == page.url %} {%
        assign highlight = 'cursor-default' %} {% assign current =
        'aria-current="page"' %} {% else %} {% assign highlight = 'underline' %}
        {% assign current = '' %} {% endif %}
        <li>
          <a
            href="{{ item.url }}"
            class="text-base font-bold {{ highlight }}"
            {{
            current
            }}
          >
            {{ item.text }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
</header>
